@{
    ViewData["Title"] = "Home Page";
}

 <div  class="imag-home">
        <div class="text-center">
                <h1 class="display-3">
                    <a class="text-dark" asp-controller="MyAccount" asp-action="MyQuiz1">Start Quiz</a>
                </h1>
                <h1 >GYM FITNESS</h1>
            
        </div>
 </div>
