@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">
        <a class="text-dark" asp-controller="MyAccount" asp-action="MyQuiz">Start Quiz</a>
    </h1>
</div>
